body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Caesar.jpg"); /* bakgrundsbild  */
    background-repeat: no-repeat;
    background-size: 633px 805px;
    font-family: 'Old Standard TT', serif;
    background-position: center top;
}
#knack {
    display: none;
}
#val {
    animation: dykupp 1s ease-out
}
#chiffrera {
    display: none;
}
#resultatRuta {
    display: none;
}
#resultat {
    height: 80%;
    width: 90%;
    overflow: scroll;
}

.ruta {
    position: relative; /*en ruta */
    left: 30vw;
    top: 20vh;
    background-color: skyblue;
    border-color: black;
    border-style: solid;
    width: 40vw;
    height: 50vh;
    text-align: center;
    background-image: linear-gradient(to bottom right, powderblue, paleturquoise);
    border-radius: 10px;
}
.rubrik {
    font-size: 60px;
    font-family: 'Rye', cursive;
    transform: translateY(-5vh);
}
.upp {
    transform: translateY(-12vh);
}
.nere {
    position: absolute;
    top: 80%;
    left: 45%;
}
button {
    font-size: 20px;
    height: 2em;
    border-color: grey;
    border-style: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, yellowgreen, mediumseagreen);
    font-family: 'Old Standard TT', serif;
    z-index: 1;
}
button:hover {
    background-image: linear-gradient(to right, mediumseagreen, seagreen);
}
@keyframes forsvinn {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(90deg);
    }
}
@keyframes dykupp {
    from {
        transform: rotateY(-90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
input[type=number] {
    background-image: linear-gradient(to right, yellowgreen, mediumseagreen);
    width: 5vw;
    height: 2em;
}
